@keyframes expand {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.20);
    }
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background: url('photo/ranger-4df6c1b6.png') center center no-repeat;

}
.smartphone{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.7px solid rgb(0, 0, 0);
    height: 20rem;
    width: 10rem;
    border-radius: 40px;
    backdrop-filter: blur(4px);
    position: relative;
    box-shadow: 10px 10px 10px black;
  

    

}
.smartphone-controll{
    visibility: visible;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(1, minmax(100%,1fr));
    grid-template-rows: 1fr 1fr;





}
.smartphone-top{

    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.smartphone-down{

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    margin-bottom: 20px;

    
}
.meteo-photo{
    object-fit: scale-down;
    height: 40px;
}
.note-img{
    object-fit: contain;
    height: 45px;
    margin-bottom: 10px;
}
.mySvg{
    position: absolute;
    align-self: flex-start;
    transform: translate(0,-40%);
}
.date-hours{
    font-size: 40px;
}
.meteo-link,.note-link{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border:none;
    cursor: pointer;

}
.meteo-link:hover, .note-link:hover{
    animation: expand 0.70s forwards;
    
}
.newSvg{
   height: 10px;
   cursor: pointer;
}
#svg{
    cursor: pointer;
    position: absolute;
    align-self: flex-start;
    left: 15px;
    top: 15px;
    z-index: 3;
}